:root {
    --dark1: #292929ff;
    --dark2: rgb(49, 49, 49);
    --dark3: rgb(58, 58, 58);
    --dark4: rgb(66, 66, 66);
    --light: #fff;
    --color1: #ed1b2aff;
    --color2: #9b0318ff;
    --background: linear-gradient(145deg, #292929ff, rgb(53, 53, 53));
    --background2: linear-gradient(145deg, rgb(53, 53, 53), #292929ff);
}

body{
    background: var(--background);
    width: 100%;
    height: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

/* Content Texts and icons */

.home {
    width: 100%;
    height: 100vh;
    padding: 0 70px 0px 70px;
    color: var(--light);
    display: flex;
    align-items: center;
}

section.home .content {
    width: 50%;
    margin-top: 70px;
}

.content p.welcome-text,
.content p.about-text{
    font-size: 22px;
}

section.home .content h1 {
    font-size: 70px;
    color: var(--light);
    line-height: 1;
}

.content h1 .colorful-text {
    color: var(--color1);
}

.presentation-content{
    margin-bottom: 100px;
}

.social-icons {
    display: flex;
}

.social-icons a {
    color: transparent;
    margin-left: 20px;
}

.social-icons a:first-child {
    margin-left: 0;
}

.social-icons div {
    background-color: var(--dark3);
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: 2px 3px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-icons div i {
    color: var(--color1);
    font-size: 25px;
    transition: 0.5s;
}

.social-icons div:hover i {
    color: var(--color2);
}

.social-icons div:active{
    transform: scale(0.9);
}

.social-share span{
    text-transform: uppercase;
}

/* Animated text */

.content h1 div.animate-text{
    width: var(--textWidth);
    display: inline-block;
}

.content h1 div.animate-text p{
    overflow: hidden;
    display: inline-flex;
    position: relative;
    text-align: left;
    white-space: nowrap;
    animation: typeWriter 3.5s linear infinite;
    opacity: 0;
    display: none;
}

.content h1 div.animate-text p.visible{
    display: flex;
    opacity: 1;
}

.content h1 div.animate-text p::after {
    content: "";
    position: absolute;
    top: 13%;
    right: 0;
    width: 2px;
    height: 80%;
    background-color: var(--light);
    transform: translate(-50%);
    animation: cursorBlink 0.7s infinite;
}

@keyframes typeWriter {
    0% {
        width: 0;
    }

    25% {
        width: 100%;
    }

    50% {
        width: 100%;
    }

    75% {
        width: 0;
    }

    100% {
        width: 0;
    }
}

@keyframes cursorBlink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* About me */

section.about{
    width: 100%;
    height: 100vh;
    background: var(--background2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.about .title{
    text-align: center;
    color: var(--color1);
    text-transform: uppercase;
}

section.about .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section.about h2{
    text-transform: uppercase;
    font-weight: bold;
}

section.about .content div{
    margin: 30px;
}

section.about .container h1{
    text-align: center;
    color: var(--light);
    text-transform: uppercase;
}

.details{
    color: var(--light);
    width: 450px;
    height: 650px;
    background-color: var(--dark3);
    box-shadow: -5px 3px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 40px;
}

.details h3{
    font-weight: bold;
}

section.about .container{
    border-radius: 25px;
    padding: 40px;
    margin: 0;
    width: 450px;
    height: 650px;
    background-color: var(--dark3);
    box-shadow: -5px 3px 0px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.about-me{
    color: var(--light);
    width: 450px;
    height: 650px;
    background-color: var(--dark3);
    box-shadow: -5px 3px 0px 3px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 40px;
}

.about p{
    font-size: 22px;
}

.about-me a {    
    color: var(--color1);
    text-decoration: none;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.about-me div{
    background-color: var(--dark4);
    padding: 15px;
    border-radius: 20px;
    box-shadow: -2px 3px 0px 1px rgba(0, 0, 0, 0.2);
    margin: 0 !important;
}

.about-me div:hover{
    color: var(--color2);
    transition: 0.5s;
}

.about-me div:active{
    transform: scale(0.95);
}

.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: -3px 3px 0px 1px rgba(0, 0, 0, 0.2);
}

img.stats{
    border-radius: 20px;
    box-shadow: -2px 3px 0px 1px rgba(0, 0, 0, 0.2);
}
/* Home Responsive */


